[Unit]
Description=Simple Reaction Daemon 
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/srd

[Install]
WantedBy=basic.target
